@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    font-family: Roboto;
}
.caja1 {
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    font-size: 12px;
}

.ttitulo {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 20px;
}

#t1 {
    font-size: 20px;
}

.imgs {
    height: 150px;
    width: 150px;
}

nav ul { 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    border:3px solid rgba(104, 36, 68, 0.98);
    background-color:rgba(104, 36, 68, 0.98);
    height: 35px;
    margin:0.3em;
}



nav li {
    list-style: none;
    color:white;
    /* border:2px solid black; */
    font-size: 15px;

}
.form1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
   
}

.datosgenerales {
    background-color: rgba(255, 255, 255, 0.863);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 800px;
    border-radius: 5%;
    border: 5px solid rgb(199, 191, 191);
    font-size: 1.2em;
    margin:50px 50px 50px;
   
}

.nom {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    margin:1.2em 1.2em 0 1em;
    /*align-content: flex-start;*/
    align-items: center;
    font-size:20px  ;
}

.datos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    margin:1.2em 1.2em 0 1em;
    /*align-content: flex-start;*/
    align-items: center;
    font-size:20px  ;
}



.opciones{
    height: 35px;
    width: 20%;
   display: flex;
   margin: auto;
   justify-content: space-evenly;
   align-items: center;
    border:5px solid rgba(104, 36, 68, 0.98);
    background-color:rgba(104, 36, 68, 0.98);
   
    

}

.principal{
    height: 50px;
    width: 30%;
   display: flex;
   margin: auto;
   justify-content: space-evenly;
   align-items: center;
    border:3px solid rgba(104, 36, 68, 0.98);
    background-color:rgba(104, 36, 68, 0.98);   
}



.nom div {
    margin: 1.2em;
}

.nom div input {
    width: 220px;
    height: 20px;
}

label {
    margin-right: 5%;
}

.nacimiento {
    display: flex;
    flex-wrap: wrap;
    margin:1.2em;
    flex-direction: row;
    align-content: flex-start;
}

.nacimiento div {
    margin:1.2em;
}

.nacimiento div input {
    width: 220px;
    height: 20px;
}

h5{
    font-size: 1.2em; /* Javi (:*/
    color:white;
}

/*.centrado{
    margin-left: auto;
    margin-right: auto;
  }*/

.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }  


   /* #encabezado{
        width: 320px;
        float: left;
        margin-top: 20px;
        margin-left: 20px;

    }*/

    h3{

        font-size: 1.2em; /* Javi xd*/
        color:white;
    }

body{
        background: url(/recursos/Fondo\ cicata.png); /*Inseta la imagen de fondo*/
        background-size: cover;/* Carga la imagen completa, pero no la distribuye correctamente en la pantalla*/
        background-position: center center;/*Centra la imagen en toda la pantalla*/
        background-attachment: fixed;/*Hace que la imagen se mueva junto al scroll ocuando minimizamos o maximizamo la pantalla*/
    
        /*A continuacion haremos que sea compatible con diferentes navegadores*/
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -moz-background-size: cover;
}

.navegacion{
    font-size: 10em;
}


 

